.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 0;
  background-image: url(/images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-repeat: no-repeat;
}
